body { font-family: Verdana,Arial,sans-serif; }
#titleBar { font-weight: normal; }
#clone { float: right; padding: .6em; position: relative; z-index: 1; }
#clone_button { height: 18px; }
#tabs { margin: 5px; min-height: 400px; font-size:80%;}
.trend { width:100%; height:150px; }
div.slider {
    display: none;
    padding-left:50px;
    background-color:white;
}
fieldset { border-radius: 4px; border-width:2px; border-color:#f5f5f5; margin-bottom: 10px; }

table.dataTable tbody td.no-padding {
    padding: 0;
}

td.details-control {
    background: url('../../../../inc/DataTables/images/details_open.png') no-repeat center center;
    cursor: pointer;
}
 
tr.shown td.details-control {
    background: url('../../../../inc/DataTables/images/details_close.png') no-repeat center center;
}

.stripe { 
        margin: .5em 0;
	border-collapse: collapse;
	border: 1px solid #ddd;
	width: 100%;
        font-size: 90%;
}

.stripe th {
	color: #666;
	padding: .2em;
	border-right: 1px solid #ddd;
	border-bottom: 3px double #bbb;
}

.stripe td { 
	padding: .2em .4em;
	border-right: 1px solid #ddd;
	border-spacing: 0;
}

.stripe .even {background-color: #fff;}
.stripe .odd {background-color: #f5f5f5;}

input.good {background-color: #aaffaa; }
input.warn {background-color: #ffffaa; }
input.error { background-color: #ffaaaa; }
td.good {color: #33cc33; }
td.warn { color: #e9ab17; }
td.error { color: red; }
